<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users data </title>
    <style>
        table,td{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h2>DATA OF USERS</h2>
    <br>
    <br>
    <form method="get" action="/user/new">
        <button>ADD NEW USER DATA</button>
    </form>
    <br>
    <br>
    <br>
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>email</td>
            <td>password</td>
        </tr><tr>
<% for(user of result) { %>
<tr>
   <td><%= user.id %></td>
   <td><%= user.name %></td>
   <td><%= user.email %></td>
   <td><%= user.password %></td>
   <td>
   <form method="get" action="/user/<%=user.id%>/edit">
    <button>EDIT USERNAME</button>
   </form>
   </td>
   <td>
     <br>
    <form method="get" action="/user/<%=user.id%>/delete">
        <button>DELETE DATA</button>
    </form>
   </td>
 
</tr>
<% } %>

        </tr>
    </table>
</body>
</html>