<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>quaro post</h1>
    <% for(post of posts){ %>
        <div class="post">
            <h3 class="name">@<%=post.name%></h3>
            <h4 class="content"><%=post.post%></h4>
            <a href="http://localhost:8080/posts/<%= post.id %>">see account</a>
            <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>
           <form method="post" action="/posts/<%= post.id %>?_method=DELETE"><button>DELETE</button></form>
            
        </div>

    <%}%>


    <br>
    <br>
    <a href="http://localhost:8080/posts/new">add new post</a>
</body>
</html>