<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>ALL CHATS</h1>
    <% for(let chat of chats) {%>
        <div class="chat">
            from: <%= chat.from %>
        <br>
        <br>
        <div class="msg">
            message:<%= chat.msg %>
            <form method="get" action="/chats/<%=chat._id%>/edit">
                <button>edit</button>
            </form>
            <br>
            
            <form method="post" action="/chats/<%=chat._id%>?_method=DELETE">
                <button>delete</button>
            </form>
        </div>
        <br><br>
            to:<%= chat.to %>
         <hr><br>
        <p><%=chat.created_at.toString().split(" ")[4]%></p>
        <p><%=chat.created_at.toString().split(" ").slice(0 ,4).join("-")%></p>
        </div>
       
    <%}%>
    <form method="get" action="/chats/new">
        <button>New chat</button>
    </form>
</body>
</html>